.new-tweet {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  /* width: 100%; */
}

textarea {
  border-color:  #494d5f; /* Reset the default border styles */
  outline: none; /* Remove the default focus outline */
  border-bottom: 2px solid #d0bdf4; /* Add a bottom border */
  width: 100%;
  background-color: #323233;
  color: #FFFFFF;
}

#error-message {
  color: red;
  display: none;
}

#submit{
  float:left;
}
#counter {
  float: right;
}

.counter {
  color:#FFFFFF;
}

.counterRed {
  color: red;
}

button {
  color: #FFFFFF;
  background: #4056A1;
}