#tweets-container {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

article.tweet header {
  display: flex;
  justify-content: space-between;
}

article{
  border: solid;
  padding:5%;
  margin-bottom: 5%;
}
article:hover{
  box-shadow: 10px 5px 5px rgb(221, 129, 216);
}

header {
  height: 5%;
}

.user-icon{
  padding-right: 10px;
}

.user-handle {
  color: rgb(148, 148, 142);
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

