#tweets-container {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

article {
  border: solid;
  padding: 5%;
  margin-bottom: 5%;
}

article:hover {
  box-shadow: 10px 5px 5px rgb(221, 129, 216);
}

#tweet-header {
  display: flex;
  height: 10%;
  color: aliceblue;
  justify-content: space-between;
}

#tweet-header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#user-handle {
  color: rgb(167, 25, 120);
}

img {
  padding-right: 10px;
}

article p {
  word-wrap: break-word;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

footer i {
  padding: 2px;
}



@media only screen and (min-width: 1024px) {
  #tweet-header {
    height: auto;
    color: aliceblue;
  }
}