#tweets-container {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

article.tweet header {
  display: flex;
  justify-content: space-between;
}

article {
  border: solid;
  padding: 5%;
  margin-bottom: 5%;
}

article:hover {
  box-shadow: 10px 5px 5px rgb(221, 129, 216);
}

header {
  height: 10%;
  color: aliceblue;
}

img {
  padding-right: 5px;
}

.user-handle {
  color: rgb(148, 148, 142);
}

article p{
  word-wrap: break-word;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

@media only screen and (min-width: 1024px) {
  header {
    height: auto;
    color: aliceblue;
  }

}